header, nav {
	display:block;
}

*{
	margin:0px;
}

header {
	width:auto;
	height:150px;
	background:plum;
}

nav {
	width:auto;
	height:50px;
	background:Black;
	text-align:center;
}

span {
	width:200px;
	height:30px;
	font-size:20pt;
	display:inline-block;
	padding: 2px;
	margin: 7px 3px;
	background:Blue;
	color:Yellow;
	text-align:center;
	font-family:Arial;
	cursor:pointer;
}

.button-active {
	border: 3px solid red;
}

span:hover {
	background:Black ;
}

.main {
	width:auto;
	height:auto;
}

.in-page {
	width:auto;
	height:700px;
	background:Red;
	text-align:center;
}

.slider {
	width:700px;
	height:500px;
	position:relative;
	border: 2px solid white;
	background:CrimsonRed;
	overflow:hidden;
	left:30%;
	top:70px;
}

.container {
	width:auto;
	position:absolute;
 }