@import url(https://fonts.googleapis.com/css?family=Lobster);
/*importo la tipografia */

body { font-family: 'Lobster', cursive; margin: 0; font-size:18px;}

#encabezado { width: 100%; height: 400px; background-image: url(../imagenes/fondo.png); background-size: 20px;}


/* background-color: red;
   backround-image: url();
   background-repeat: ;
   background-position
   background-attachment


   background: color image repiticion position attachment;

   Las propiedades nuevas de css3
   background-size
   background-origin
   background-clip

   no se pueden sumar al shorthand




   */



#encabezado div { width: 300px; height: 300px; background: #FFED00;  border-radius:200px ; padding: 20px;  line-height: 230px; margin: 0 auto;}



div h1 { font-size: 60px; text-align: center;  }


section h2:after { content: url(../imagenes/estrella.png);}

.secciones { width: 1000px; margin: 0 auto 20px; border: 2px dotted black; color: #333; padding: 10px; border-radius: 20px;}

.secciones h2 { color: #A12255; transition: font-size 5s;}


.secciones h2:hover { font-size: 20px;}


img[alt="flecha"] {width: 15px; height: 15px; margin: auto; display: block; margin-bottom: 10px;} 

/* valores hexadecimales #fff
   palabras (140 ) http://www.w3schools.com/colors/colors_names.asp
   rgb(255,0,255)
   rgb(0,0,0) > black > #000
   rgb(255,255,255) > white > #fff

   rgba(255,255,255,0.5)

   hsl(140,20%, 50%)

   background: hsla(250,50%, 80%, 0.5) 

selector descendente

  padre hijo { propiedad:valor;}


  :after --> colocar contenido antes o despues de un elemento 
  :before


  p:after  {content: 'contenido';}
  p:before { content: url(ruta de la imagen);}


  div h1:after {content: 'este es un enunciado ';}


  */



