

div { width: 740px; height: 400px; }

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:url(imagenes/corazon.png);
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:url(imagenes/star.png);
	color:#fff;

} /*next & previous*/

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#f00;
	margin:5px;
	text-decoration: none;
} /*numeros */

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}